*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.cont-main{
    max-width: 1000px ;
    height: auto;
    border: 1px solid rgb(230, 220, 220);
}
/* --------- Top Nav with Logins ------ */
.header{
    background-color: #ba2e1f;
    height: 50px;
}
.header a{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: lighter;
}
.header a:first-child{
    margin-left: 10px;
}
.search{
    border-radius: 20px;
    margin:3px 10px 0px 0px;
}
.search::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    padding-left: 7px;
    text-align: center;
}

/* --------- Top Bar with Social Links ------ */
.top{
    height: 100px;


}
.logo {
    font-size: 46px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-top: 40px;
  }
  .free-website{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
  }
  .social{
      padding: 5px 0px 0px 0px;
      height: 20px;
      width: 20px;
  }
  .top a{
    float: right !important;
    text-align: center !important;
    margin-top: -34px;
    height: 35px;
    background-color: black;
    width: 35px;
    border-radius: 50%;
    transition: 0.5s;
  }
  .top a:hover{
    background-color: #ee802f;
  }
/* --------- Navbar ------ */
  .navbar{
      background-color: black !important;
      height: 40px;
  }
  .nav-link{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(233, 232, 227) !important;
    font-weight: bold;
    transition: 0.5;
  }
  .nav-link:hover{
    color: #ba2e1f !important;
  }
  /* --------- Huge Section ---------- */
  .huge{
      max-height: 465px;
  }
  .huge img{
      width: 400px;
      height: 440px;
      margin-top: 25px;
  }
  .huge .heading {
    font-size: 86px;
    font-family: "Georgia";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    padding: 80px 0px 0px 20px;

  }
  .huge .pera {
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
    line-height: 1.4;
    text-align: left;
    padding: 0px 0px 0px 20px;
  }
  .read-more {
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(186, 46, 31);
    line-height: 1;
    float: right;
    padding: 0px 20px 0px 0px;
  }
  /* ------- Service Section ------- */
  .service{
      max-height: 555px;
      background-color: #f2f2f2;
  }
  .service .card{
      border: none;
      background-color:#f2f2f2;
      
  }
  .client .card-body{
    padding: 0px !important;
  }
  .service h5 {
    font-size: 26px;
    font-family: "Georgia";
    color: rgb(51, 51, 51);
    padding: 20px 0px;
  }
  .service .card-title {
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(135, 135, 135);
    font-weight: bold;
    position: absolute;
    margin: -20px 0px 0px 0px !important;
  }
  .client .card-title{
    margin: 0px 0px 0px 0px !important;
  }
  .service a {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(185, 45, 31);
    float: right;
    text-decoration: none;
    margin-top: 10px;
  }
  .service p {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(136, 136, 136);
    line-height: 1.6;
    text-align: left;
  }
  .card-pera {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(135, 135, 135);
    line-height: 1.6;
    margin-top: 20px;
  }
  /* ----- Footer Section ------ */
  .footer{
    height: 400px;
    background-color: white;
  }
  .footer hr{
    width: 99%;
    height: 2px;
  }
  .footer h3 {
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
    margin-top: 0px !important;
  }
  .footer li{
      border-bottom: 1.5px solid #d4d4d4;
  }
  .blog .post,.Post_Title {
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
    margin: 0px;
  }
  .blog .pera, .friday{
    font-size: 10px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
  }
  .blog a{
      font-size: 12px;
      color: #b82c1f;
      text-decoration: none;
      font-family: "Georgia";
      margin-top: -15px;
      padding: 0px;
  }
  .contact input, .contact textarea{
      width: 100%;
      padding: 50x 15px !important;
      color: #989898;
      background-color: #f2f2f2;
      font-size: 15px;
      font-weight: lighter;
      font-family: "Georgia";
      border: none;
      border-radius: 3px;

  }

  .contact .submit{
      width: 80px;
      height: 30px;
      color: #b82c1f;
      transition: 1.5s;
  }
  .contact .submit:hover{
    box-shadow: 0px 0px 2px 2px #b82c1f;
    border-color: #b82c1f;
  }
  .copy{
      height: 60px;
      background-color: #f2f2f2;
      font-size: 12px;
      color:#919191;
      font-family: "Georgia";
  }
  
  






  /* ------------ Media Query ----------- */
  
  @media(max-width:775px){
    .huge .heading {
        font-size: 22px;
        margin-top: 0px;
        padding: 20px 0px 0px 0px;
        text-align: left;
      }
    .huge img{
        width: 180px;
        height: 180px;
        padding-left: 20px;
    }
    .huge .pera{
        text-align: justify;
        padding: 0px 0px 0px 0px;
        line-height: 1.2;
    }
    .serv img{
        width: 200px;
        height: 220x;
        padding: 2px 7px 0px 0px !important;
    }
    .service {
        height: auto !important;
    }
    .service h5 {
        font-size: 16px;
        text-align: center;
        padding: 10px 0px 0px 0px;
    }
    .serv img{
        float: left !important;
        padding-right: 5px;
    }
    .serv .pera{
        float: inline-end;
        line-height: 1.2;
        font-size: 12px;
        text-align: justify;
        padding: 0px 0px 0px 5px;
    }
    .serv a{
        margin:0px ;
        font-size: 12px;
    }
    .service .card-body{
        margin: 0px;
        padding: 0px !important;
    }
    .service .card-title {
        font-size: 12px;
        position: absolute;
        margin: -10px 0px 0px 14px !important;
      }
      .client .card-title{
        margin: 10px 0px 0px 10px !important;
      }
      .client img {
          width: 33px !important;
          height: 30px !important;
          padding-left: 10px;
      }
      .client h5{
          padding: -0px 0px 0px 0px!important;
          margin: 0px;
      }
      .service a {
        font-size: 12px;
        padding: -0px 20px 0px 5px;
      }
      .service p {
        font-size: 13px;
        text-align: left;
        margin-left: 10px !important;
      }
      .card-pera {
        font-size: 13px;
        margin: 15px 20px 0px 0px;
        width: auto !important;
      }
      .footer{
          margin-top: 260px;
      }
  }

  /* ------------ Mobile Viewe 462 --------- */

  @media (max-width: 462px){
    .header a{
        font-size: 11px !important;
      }
    .search{
        width: 140px !important;
        margin: 0px 0px 0px 0px;
    }
    .top{
        height: 63px;
        margin-top: -10px !important;
    }
    .top h1{
        font-size: 26px !important;
    }
    .top .free-website{
        font-size: 11px !important;
        padding: 0px !important;
    }
    .client .card-title{
        margin: 0px 0px 0px 10px !important;
      }
      .someOurServices{
        padding: 0px !important;
      }
    .service .card-title {
        font-size: 12px;
        position: absolute;
        margin: -05px 0px 0px 14px !important;
      }
    .service .pera{
          margin: 10px 0px 0px 0px;
      }
    .card-pera {
        font-size: 13px;
        margin: -43px 10px 0px 0px !important;
        width: auto !important;
        float: left;
        padding-left: 75px !important;
      }
    .client{
        background-color: #f2f2f2;
    }
    .client h5{
        padding: -0px 0px 0px 0px!important;
        margin: 10px;
        
    }
    .footer{
        margin-top: 350px;
    }
  }
  

  
  
  
  
  
  

  